#background {
  /*background-image: url("http://i.imgur.com/RqUkE2P.jpg");*/
  /*background-color: #00466b;*/
  /*background-size: cover;
  display: block;
  -webkit-filter: opacity(50%) blur(0px);
  filter: opacity(50%) blur(0px);
  height: 1080px;
  width: 1920px;
  left: -300px;
  top: -200px;
  position: fixed;
  right: 0;
  z-index: 1;*/
}

body { padding-top: 70px; }

#page-title {
  text-align: center;
  font-size: 70pt;
  font-weight: bold;
}

.nav-tabs {
  /*border-bottom: thin solid black;*/
}

hr {
  border-color: black;
}
